<div class="col-12 pair-detail-content">
    <div class="col-12 pair-title">
        BTC/BRL
    </div>
    <div *ngIf="tickerInfo" class="col-12 pair-detail-info">
        <div class="col-3 default-info bid-value-info">
            {{ ask }}
        </div>
        <div class="col-3 default-info">
            <div class="col-12 pair-detail-header">
                Variação 24h
            </div>
            <div class="col-12">
                {{ tickerInfo.symbol }}
            </div>
        </div>
        <div class="col-3 default-info">
            <div class="col-12 pair-detail-header">
                Maior preço 24h
            </div>
            <div class="col-12">
                {{ high24h }}
            </div>
        </div>
        <div class="col-3 default-info">
            <div class="col-12 pair-detail-header">
                Menor preço 24h
            </div>
            <div class="col-12">
                {{ low24h }}
            </div>
        </div>
    </div>
</div>