.history-detail-content {
    height: auto;
    color: #ffffff;
    padding-right: 0px;
    padding-left: 0px;
}

.table {
    font-size: 0.8rem;
    table-layout: fixed;
}

.table td, .table th {
    padding: .50rem!important;
    border: 0;
    word-wrap: break-word;
}

.table th {
    color: #909090;
}

.span-ask {
    color: #f05a5a;
}

.span-bid {
    color: #46a082;
}