<div class="col-12 main-content">
    <div class="col-3">
        <div class="content-left">
            <app-latest-tickers></app-latest-tickers>
        </div>
    </div>
    <div class="col-6">
        <div class="content-body">
            <div class="content-body-header">
                <app-pair-detail></app-pair-detail>
            </div>
            <div class="content-body-main">
                BODY
            </div>
            <div class="content-body-footer">
                <app-buy-sell></app-buy-sell>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="content-right">
            <app-history-detail></app-history-detail>
        </div>
    </div>
</div>
<div class="col-12 history-content">
    <div class="col-12 history-container">
        <app-history-user-trades></app-history-user-trades>
    </div>
</div>